@import "../../../variables";

.container {
  padding: 15px;
  margin: 10px 0;
  background-color: $background-book;

  .box1 {
    display: flex;

    .button-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      button {
        background-color: white;
        border: none;
        border-radius: 10px;
        align-self: center;
        margin: 0 3px;
        width: 30px;
        height: 30px;
        font-weight: bold;

        &:hover {
          background-color: $background-angular;
        }

        &:active {
          background-color: $button-active;
        }
      }
    }
  }

  .box {
    display: flex;

    span {
      background-color: $background;
      flex: 1;
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }
  }
}
