<div *ngIf="book" class="container-book">
  <div class="headbox">
    <h1>{{ book.title }}</h1>
    <div class="button-wrapper">
      <button (click)="doRateDown()" [disabled]="book.rating <= 1">-</button>
      <button (click)="doRateUp()" [disabled]="book.rating >= 5">+</button>
    </div>
  </div>
  <h6>{{ book.description }}</h6>
  <div class="infobox">
    <span>ISBN: {{ book.isbn }}</span>
    <span>Price: {{ book.price | currency: "EUR" }}</span>
    <span><app-rating [value]="book.rating"></app-rating></span>
  </div>
  <div class="actionbox">
    <button [routerLink]="['/books', book.isbn]">Details</button>
    <button>Delete</button>
  </div>
</div>
