.container {
  padding: 5px;
  margin-top: 10px;
  background-color: lightblue;

  .box {
    display: flex;

    span {
      flex: 1;
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }
  }
}
