@import "../../../colors";

.container-book {
  padding: 15px;
  margin: 10px 0;
  background-color: $background-book;

  .headbox {
    display: flex;

    .button-wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      button {
        background-color: $background;
        border: none;
        border-radius: 10px;
        align-self: center;
        margin: 0 3px;
        width: 30px;
        height: 30px;
        font-weight: bold;

        &:disabled {
          background-color: $disabled;
          cursor: default;

          &:active,
          &:hover {
            background-color: $disabled;
          }
        }

        &:hover {
          background-color: $background-angular;
        }

        &:active {
          background-color: $button-active;
        }
      }
    }
  }

  .infobox {
    display: flex;
    align-self: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $background;
      flex: 1;
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .container-book {
    .headbox {
      flex-direction: column;
      margin-bottom: 10px;

      .button-wrapper {
        justify-content: flex-start;
      }
    }

    .infobox {
      flex-direction: column;
      gap: 2px 0;
    }
  }
}
