@import "../../../colors";

div {
  background-color: $background-book;
}
form {
  margin: auto;
  max-width: 700px;
  padding: 20px;

  label {
    font-weight: normal;
  }
}
.form-control,
.form-control-lg {
  border-radius: 0;
}
button {
  background-color: $background;
  border: none;
  align-self: center;

  &:disabled {
    background-color: $disabled;
    cursor: default;

    &:active,
    &:hover {
      background-color: $disabled;
    }
  }

  &:hover {
    background-color: $background-angular;
  }

  &:active {
    background-color: $button-active;
  }
}
