<div>
  <form [formGroup]="bookForm" (ngSubmit)="submitForm()">
    <h2>Create a Book</h2>
    <div class="form-group">
      <label for="isbnField">ISBN</label>
      <input
        type="text"
        class="form-control"
        id="isbnField"
        formControlName="isbn"
      />

      @if (hasError("isbn", "required")) {
        <div class="feedback-error">Die ISBN is incorrect</div>
      }

      @if (hasError("isbn", "minlength")) {
        <div class="feedback-error">Die ISBN is too short</div>
      }
      @if (hasError("isbn", "maxlength")) {
        <div class="feedback-error">Die ISBN is too long</div>
      }
      @if (hasError("isbn", "required")) {
        <div class="feedback-error">Die ISBN is required</div>
      }
    </div>

    <div class="form-group">
      <label for="titleField">Title</label>
      <input
        type="text"
        class="form-control"
        id="titleField"
        formControlName="title"
      />
    </div>

    <div class="form-group">
      <label for="descriptionField">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="descriptionField"
        formControlName="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="priceField">Price</label>
      <input
        type="number"
        class="form-control"
        id="priceField"
        formControlName="price"
      />
    </div>

    <div class="form-group">
      <label for="ratingField">Rating</label>
      <input
        type="number"
        class="form-control"
        id="ratingField"
        formControlName="rating"
      />
    </div>

    <button type="submit" [disabled]="bookForm.invalid">Submit</button>
  </form>
</div>
