/* You can add global styles to this file, and also import other style files */

@import "@angular-schule/workshop-styles/index";
@import "colors";
body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $background;
}

@media (max-width: 500px) {
  body {
    padding: 0;
  }
}
